api/HELP.md
api/target/
api/!.mvn/wrapper/maven-wrapper.jar
api/!**/src/main/**
api/!**/src/test/**
api/bin/

### STS ###
api/.apt_generated
api/.classpath
api/.factorypath
api/.project
api/.settings
api/.springBeans
api/.sts4-cache

### IntelliJ IDEA ###
api/.idea
api/*.iws
api/*.iml
api/*.ipr

### NetBeans ###
api/nbproject/private/
api/nbbuild/
api/dist/
api/nbdist/
api/.nb-gradle/
api/uild/

### VS Code ###
api/.vscode/
